.deletebutton {
    background-color: #b90000;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-family: 'Times New Roman';
    font-size: large;
    font-weight: 900;
    padding: 4px 20px;
    text-align: center;
}

.list {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    font-size: larger;
    font-family: 'Times New Roman';
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 16px;
    margin-top: 0.5%;
}

.border {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}